.popup__error {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    position: absolute;
    top:34px;
    left: 0px;
}

@media screen and (max-width:768px) {
    .popup__error {
        font-size: 9px;
    }
}